html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	width: 100vw;
	background: white; /* Fallback for when there is no custom background color defined. */
}

body.custom-background {
	background: white;
	background-image: none !important;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

.site-header {
	width: 100vw;
	background: rgb(255,255,255);
	// text-align: center;
	@include break(0em, 60.625em) {
		height: 8em;
	}
	    @include break(60.625em) {
	    	background-color: $header-background;
    	    width: $size__site-sidebar;
    	    height: 100%;
        }
	    position: fixed;
	    z-index: 2;
	.site-branding {
	    padding: 1em 2em;
	    display: inline-block;
	    height: 8em;
	    @include break(60.625em) {
	        padding: 2em 2em;
	    }
	    .site-title {
	    	margin: 0;
	    	@include break(0em, 60.625em) {
	    	    display: inline-block;
	    	}
	    	img {
	    		height: 2.9em;
	    	}
	    }
	}
	nav {
		@include break(0em, 60.625em) {
		    display: inline-block;
		    .menu-toggle {
		    	margin-right: auto;
		    	margin-left: auto;
		    }
		    .menu-main-menu-container {
		    	width: 100vw;
		    	text-align: left;
		    	position: fixed;
		    	top: 12.5em;
		    	right: 0;
		    	background: rgb(200,200,200);
		    }
		    .menu-main-menu-container > ul {
		    		width: 100%;
		    		margin-top: 0;
		    	}
		}
	}
}

   .language-menu {
		display: inline-block;
		width: 45%;
		
		// position: relative;
		@include break(0em, 60.625em) {
			width: 100vw;
			position: fixed;
			text-align: right;
			bottom: 0;
			right: 0;
			background: white;
			display: inline-block;
			text-align: left;
			section {
				display: inline-block;
			}

	    }
    }

.welcome{
    text-align: center;
}

.site-content {
	@include break(60.625em) {
	padding: 0;
	padding-left: $size__site-sidebar;
    }
    width: 100%;
}
.site-main {
	padding-left: 5em;
	padding-right: 5em;
	@include break(0em, 30em) {
		padding: 0;
		margin-top: 8em;
		width: 90%;
	}
}

.site-footer {
	margin-bottom: 7em;
	@include break(60.625em) {
	    margin-left: 25em;
	    padding-left: 5em;
    }
}

.paper, .video, .performative {
	display: inline-block;
		img {
		    max-width: 100%;
	}
}

.cv-bio, .contact {

}

.detail {
	position: fixed;
	z-index: 5;
	background: rgb(100, 100, 100);
	width: 100%;
	min-height: 100%;
}