html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	width: 100vw;
	background: white; /* Fallback for when there is no custom background color defined. */
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.25em;
}

body.custom-background {
	background: white;
	background-image: none !important;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

span {
	text-decoration: none;
	display: inline-block;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

p {
	font-size: 1.25em;
	font-weight: 300;
	line-height: 2em;
}

ul {
	padding: 0;
	list-style-type: circle;
}

.fa {
	padding-right: 1em;
	color: #bc1565;
}
.fa-bars {
	padding-right: 0;
	height: 2em;
}

@import "tables";

.video {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	width: 100%;
	p {
	text-align: center;
}
}

.site-header {
	width: 100vw;
	background-image: linear-gradient(-180deg, $header-background 0%, $menu-background 100%);
    @include break(0, 30em) {
        height: 6.5em;
    }
	@include break(30em, 60.625em) {
		height: 8em;
	}
	@include break(60.625em) {
    	    width: $size__site-sidebar;
    	    height: 100%;
        }
	    position: fixed;
	    top: 0;
	    z-index: 2;
	.site-branding {
	    display: inline-block;
	    @include break(0, 30em) {
            height: 6em;
            padding: 1em 1em;
            max-width: 70%;
	    }
	    @include break(30em, 60.625em) {
	        height: 8em;
	        padding: 1em 4em;
	    }
	    @include break(60.625em) {
	        padding: 2em 3em;
	        width: 100%;
	    }
	    .site-title {
	    	margin: 0;
	    	@include break(0em, 60.625em) {
	    	    display: inline-block;
	    	}
	    	img {
	    		@include break(30em, 60.625em) {
	    		    height: 2.9em;
	    		}
	    		@include break(0, 30em) {
	    			height: 2.2em;
	    		}
	    	}
	    }
	}
	nav {
		@include break(0em, 60.625em) {
		    display: inline-block;
		    .menu-toggle {
		    	margin-right: auto;
		    	margin-left: auto;
		    }
		    .menu-main-menu-container {
		    	width: 100vw;
		    	text-align: left;
		    	position: fixed;
		    	top: 8em;
		    	@include break(0, 30em) {
		    		top: 6em;
		    	}
		    	right: 0;
		    	background: $menu-background;
		    }
		    .menu-main-menu-container > ul {
		    		width: 100%;
		    		margin-top: 0;
		    	}
		}
	}
}
.menu-item a:hover {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}​

a.next-image {
	text-decoration: none;
}
.bio {
	margin-top: 2em;
	@include break(0, 60.625em) {
		margin-top: 0;
	}
}
.bio, .bio2 {
	width: 70%;
	@include break(0, 30em) {
		width: 100%;
	}
	font-size: 1.25em;
	margin-bottom: 1em;
}
.cv {
	width: 70%;
	@include break(0, 30em) {
		width: 100%;
	}
	margin-top: 4em;
	h2 {
		font-size: 1.45em;
		border-bottom: 1px $color__text-main solid;
	}
	h3 {
		margin-top: 2.5em;
        margin-bottom: 1.25em;
		font-size: 1.25em;
	}
	ul {
		font-size: 1.10em;
		li {
			margin-bottom: 1em;
		}
	}
}
.bio-image {
    position: fixed;
    right: 0;
    bottom:10vh;
    width: 20%;
    @include break(30em, 60.625em) {
    	width: 30%;
    }
    @include break(0, 30em) {
    	width: 100%;
    	position: relative;
        bottom: 0;
        text-align: center;
        img {
        	width: 60%;
        	margin-right: auto;
        	margin-left: auto;
        }
    }
}
article.hentry {
	margin-bottom: 0 !important;
}
.post {
	text-align: center;
	h2.entry-title {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	img {
		height: auto;
		width: 100%;
		@include break(60.625em) {
		height: 100vh;
		width: auto;
	}
	}
}
	.previous, .next {
		position: absolute;
		top: 55vh;
		width: 2.5em;
		@include break(0, 30em) {
			width: 1.5em;
		}
		.hover {
			display: none;
		}
	}
	.previous:hover {
		.static {
			display: none;
		}
		.hover {
			display: block;
		}
	}
	.next:hover {
		.static {
			display: none;
		}
		.hover {
			display: block;
		}
	}
	.previous {
		left: $size__site-sidebar + 2em;
		@include break(0, 60.625em) {
			left: 0.5em;
		}
	}
	.next {
		right: 2em;
		@include break(0, 60.625em) {
			right: 0.5em;
		}
	}
	.materials, .dimensions, .year {
		text-align: center;
		margin-bottom: 0.2em;
	}
.welcome{
    text-align: center;
    img {
    	height: 90vh;
    	width: auto;
    	@include break(30em, 60.625em) {
    		margin-top: 8em;
    		width: 100%;
    		height: auto;
    	}
    	@include break(0em, 30em) {
    		margin-top: 5em;
    		width: 100%;
    		height: auto;
    	}
    }
}

.site-content {
	@include break(60.625em) {
	padding: 0;
	padding-left: $size__site-sidebar;
	.content-area {
		margin-top: 0;
	}
    }
    @include break(30em, 60.625em) {
	     .content-area {
	     	margin-top: 7em;
	     }
	}
    @include break(0, 30em) {
	     .content-area {
	     	margin-top: 5em;
	     }
	}
    width: 100%;
}
.site-main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	p {
		font-size: 1.05em;
	}
	h2 {
		text-align: center;
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 1.15em;
		line-height: 1.55em;
	}
	@include break(0em, 64em) {
	    p {
		font-size: 1.25em;
	        }
		h2 {
			margin-bottom: 0.5em;

		}
	}
	@include break(0em, 30em) {
		padding: 0;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
.grid {
	text-align: center;
	overflow: hidden;
	clear: both;
	@include break(0em, 30em) {
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
  }
  @include break(30em, 60.625em) {
  	width: 100%;
  }
}
.grid-item {
  float: left;
  width: 30%;
  margin: 1.5%;
  @include break(0em, 30em) {
  	width: 100%;
  	margin-bottom: 1.5em;
  }
  @include break(30em, 70.625em) {
  	width: 45%;
  	margin: 2.5%;
  }
}

.site-footer {
	font-size: 0.65em;
	margin-bottom: 7em;
	text-align: center;
	@include break(60.625em) {
	    margin-top: 5em;
	    margin-bottom: 0em;
    }
    @include break(30em, 60.625em) {
    	margin-top: 5em;
    	margin-bottom: 6em;
    }
    @include break(0, 30em) {
    	margin-top: 5em;
    	margin-bottom: 4em;
    }
    a {
    	text-decoration: none;
    	font-weight: 400;
    }
}

.cat-description {
	width: 90%;
	@include break(0, 30em) {
		width: 100%;
	}
	@include break(76.25em) {
         width: 80%;
	}
	margin-left: auto;
	margin-right: auto;
}

.detail {
	position: fixed;
	z-index: 5;
	background: rgb(100, 100, 100);
	width: 100%;
	min-height: 100%;
}

p.back-to, p.count {
	font-size: 1.25em;
	display: inline-block;
    font-family: 'Josefin Slab', serif;
}
.back-to {
	width: 70%;
	padding-left: 2em;
	@include break(0, 30em) {
		padding-left: 0;
	}
	a {
		text-decoration: none;
	}
}
// .back-to:before {
// 	font-family: 'FontAwesome';
// 	content: "\f060 ";
// }
.count {
	padding-right: 2em;
	text-align: right;
    width: 28%;
	@include break(0, 30em) {
		padding-right: 0;
	}
}
p.count {
	color: #bc1565;
}
a.back {
	color: #bc1565;
}
.back-to:hover {
	i {
		color: $color__link-hover;
	}
}
a.back:visited {
	color: #bc1565;
}
a.back:hover {
	color: $color__link-hover;
}