a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link;
		    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
	}
	&:focus {
		outline: thin dotted;
		outline-color: $color__link-hover;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
