/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.main-nav {
	background: rgb(200, 200, 200);
	width: 25em;
	height: 100%;
	position: fixed;
	padding: 10em 0;
	ul {
		list-style: none;
	}
}